openapi: 3.0.3
info:
  title: Waterking Filter API
  version: "1.0.0"
  description: |
    Dokumentasi API Waterking Filter.

    ## Cara pakai
    - Untuk endpoint member (`auth:sanctum`), login lewat `POST /auth/login`, lalu klik **Authorize** dan isi `Bearer <token>`.
    - Untuk endpoint partner (`auth:partner-api`), login lewat `POST /partner/login`, lalu klik **Authorize** dan isi `Bearer <token>`.
servers:
  - url: https://waterkingfilter.com/api
    description: Production server
  - url: http://127.0.0.1:8000/api
    description: Local server
tags:
  - name: Member Auth
  - name: Member Area
  - name: Product
  - name: Partner Auth
  - name: Partner Voucher
  - name: Partner Wallet
  - name: Utility
paths:
  /auth/register:
    post:
      tags: [Member Auth]
      summary: Register member baru
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, password, confirm_password, phoneNumber]
              properties:
                name: { type: string, example: "Budi" }
                email: { type: string, format: email, example: "budi@mail.com" }
                password: { type: string, minLength: 8, example: "password123" }
                confirm_password: { type: string, example: "password123" }
                phoneNumber: { type: string, example: "081234567890" }
      responses:
        "200":
          description: Register berhasil
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MemberAuthResponse" }
        "422":
          description: Validasi gagal
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ValidationErrorResponse" }

  /auth/login:
    post:
      tags: [Member Auth]
      summary: Login member
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email, example: "superadmin@filament.com" }
                password: { type: string, example: "password123" }
      responses:
        "200":
          description: Login berhasil
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MemberAuthResponse" }
        "404":
          description: Credential salah
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }

  /auth/logout:
    post:
      tags: [Member Auth]
      summary: Logout member aktif
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Logout berhasil
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiSuccess" }
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }

  /user:
    get:
      tags: [Utility]
      summary: Current user (default Laravel route)
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Data user
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /profile:
    get:
      tags: [Member Area]
      summary: Ambil profil member login
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Profil member
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MemberProfileResponse" }
    put:
      tags: [Member Area]
      summary: Update profil member
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 255, example: "Budi Santoso" }
                whatsapp: { type: string, maxLength: 20, example: "081234567890" }
                address: { type: string, nullable: true, example: "Jl. Letda Sujono 142" }
      responses:
        "200":
          description: Profil berhasil diupdate
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiSuccess" }
        "422":
          description: Validasi gagal
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ValidationErrorResponse" }

  /profile/password:
    put:
      tags: [Member Area]
      summary: Update password member
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, new_password, new_password_confirmation]
              properties:
                current_password: { type: string, example: "password123" }
                new_password: { type: string, minLength: 8, example: "passwordBaru123" }
                new_password_confirmation: { type: string, example: "passwordBaru123" }
      responses:
        "200":
          description: Password berhasil diubah
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiSuccess" }
        "400":
          description: Password lama salah atau password baru sama
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }

  /partner:
    get:
      tags: [Member Area]
      summary: List partner
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: per_page
          schema: { type: integer, default: 10 }
      responses:
        "200":
          description: Data partner terpaginate
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiSuccess" }

  /voucher:
    get:
      tags: [Member Area]
      summary: List voucher milik member login
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: per_page
          schema: { type: integer, default: 10, maximum: 50 }
        - in: query
          name: page
          schema: { type: integer, default: 1 }
      responses:
        "200":
          description: Voucher member terpaginate
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiSuccess" }

  /history-order:
    get:
      tags: [Member Area]
      summary: Riwayat invoice member
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Riwayat order member
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiSuccess" }

  /history-voucher:
    get:
      tags: [Member Area]
      summary: Riwayat claim voucher member
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Riwayat voucher member
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiSuccess" }

  /detail-voucher/{id}:
    get:
      tags: [Member Area]
      summary: Detail voucher partner + status ownership member
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer, example: 1 }
      responses:
        "200":
          description: Detail voucher partner
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiSuccess" }

  /detail/{id}:
    get:
      tags: [Member Area]
      summary: Detail voucher by id
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer, example: 1 }
      responses:
        "200":
          description: Detail voucher
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiSuccess" }
        "404":
          description: Voucher tidak ditemukan
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }

  /product:
    get:
      tags: [Product]
      summary: List produk
      responses:
        "200":
          description: List produk
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiSuccess" }
    post:
      tags: [Product]
      summary: Create produk (belum diimplementasikan di controller)
      responses:
        "200":
          description: Endpoint tersedia namun logic belum diisi
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiSuccess" }

  /product/{id}:
    get:
      tags: [Product]
      summary: Detail produk (belum diimplementasikan di controller)
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer, example: 1 }
      responses:
        "200":
          description: Endpoint tersedia namun logic belum diisi
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiSuccess" }
    put:
      tags: [Product]
      summary: Update produk (belum diimplementasikan di controller)
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer, example: 1 }
      responses:
        "200":
          description: Endpoint tersedia namun logic belum diisi
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiSuccess" }
    delete:
      tags: [Product]
      summary: Hapus produk (belum diimplementasikan di controller)
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer, example: 1 }
      responses:
        "200":
          description: Endpoint tersedia namun logic belum diisi
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiSuccess" }

  /partner/login:
    post:
      tags: [Partner Auth]
      summary: Login partner
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email, example: "partner@mail.com" }
                password: { type: string, minLength: 8, example: "password123" }
      responses:
        "200":
          description: Login partner berhasil
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PartnerAuthResponse" }
        "404":
          description: Credential salah
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }

  /partner/me:
    get:
      tags: [Partner Auth]
      summary: Profil partner login + ringkasan voucher
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Profil partner
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiSuccess" }

  /partner/update-password:
    post:
      tags: [Partner Auth]
      summary: Update password partner
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password_lama, password_baru, password_baru_confirmation]
              properties:
                password_lama: { type: string, example: "password123" }
                password_baru: { type: string, minLength: 6, example: "passwordBaru123" }
                password_baru_confirmation: { type: string, example: "passwordBaru123" }
      responses:
        "200":
          description: Password partner diperbarui
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiSuccess" }
        "422":
          description: Validasi gagal
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ValidationErrorResponse" }

  /partner/counting-partner:
    get:
      tags: [Partner Voucher]
      summary: Ringkasan jumlah voucher partner
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Ringkasan jumlah voucher, claim, sisa
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiSuccess" }

  /partner/voucher/preview:
    post:
      tags: [Partner Voucher]
      summary: Preview voucher dari barcode
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [barcode]
              properties:
                barcode: { type: string, example: "WV-ABC123XYZ" }
      responses:
        "200":
          description: Preview voucher berhasil
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiSuccess" }
        "400":
          description: Barcode tidak valid / voucher tidak valid
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }

  /partner/voucher/scan:
    post:
      tags: [Partner Voucher]
      summary: Claim voucher via barcode scan
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [barcode, total_transaction]
              properties:
                barcode: { type: string, example: "WV-ABC123XYZ" }
                total_transaction: { type: integer, minimum: 0, example: 250000 }
      responses:
        "200":
          description: Voucher berhasil di-claim
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiSuccess" }
        "400":
          description: Voucher tidak valid / tidak berlaku / sudah di-claim
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }

  /partner/history-voucher:
    get:
      tags: [Partner Voucher]
      summary: Riwayat claim voucher partner
      security:
        - bearerAuth: []
      responses:
        "200":
          description: List riwayat claim voucher
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiSuccess" }

  /partner/voucher/claimed-history:
    get:
      tags: [Partner Voucher]
      summary: History voucher yang di-claim di partner login
      description: |
        Endpoint ini otomatis terikat ke partner yang sedang login (`auth:partner-api`),
        jadi hasil hanya menampilkan history claim untuk 1 partner tersebut.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: List history claim voucher partner login
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Berhasil memuat history voucher partner
                  success:
                    type: boolean
                    example: true
                  code:
                    type: integer
                    example: 200
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        nama_voucher:
                          type: string
                          example: Potongan Member Rp. 20.000
                        tipe_voucher:
                          type: string
                          enum: [persen, nominal]
                          example: nominal
                        tanggal_claim_voucher:
                          type: string
                          example: 06 Maret 2026 15:30
                        nominal_voucher_full:
                          type: integer
                          example: 5000
                        nominal_voucher_singkat:
                          type: string
                          example: 5K
                        siapa_yang_claim:
                          type: string
                          example: altair

  /partner/wallet:
    get:
      tags: [Partner Wallet]
      summary: Saldo wallet partner
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Ringkasan wallet
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiSuccess" }

  /partner/wallet/withdraw:
    post:
      tags: [Partner Wallet]
      summary: Withdrawal saldo wallet partner
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nominal]
              properties:
                nominal: { type: integer, minimum: 10000, example: 50000 }
                keterangan: { type: string, nullable: true, example: "Penarikan mingguan" }
      responses:
        "200":
          description: Withdrawal berhasil
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiSuccess" }
        "400":
          description: Saldo tidak cukup / nominal tidak valid
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }

  /partner/wallet/history-keuangan:
    get:
      tags: [Partner Wallet]
      summary: Riwayat keuangan partner (withdrawal/topup)
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: per_page
          schema: { type: integer, default: 15, maximum: 50 }
      responses:
        "200":
          description: Riwayat keuangan terpaginate
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiSuccess" }

  /partner/wallet/history-pendapatan:
    get:
      tags: [Partner Wallet]
      summary: Riwayat pendapatan partner dari claim voucher
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: per_page
          schema: { type: integer, default: 15, maximum: 50 }
      responses:
        "200":
          description: Riwayat pendapatan terpaginate
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiSuccess" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Token

  schemas:
    ApiSuccess:
      type: object
      properties:
        message:
          type: string
          example: Berhasil memuat data
        success:
          type: boolean
          example: true
        code:
          type: integer
          example: 200
        data:
          nullable: true
          oneOf:
            - type: object
              additionalProperties: true
            - type: array
              items:
                type: object
                additionalProperties: true

    ApiError:
      type: object
      properties:
        success:
          type: boolean
          example: false
        code:
          type: integer
          example: 400
        message:
          type: string
          example: Terjadi kesalahan
        errors:
          type: array
          items:
            type: object
            additionalProperties: true

    ValidationErrorResponse:
      type: object
      properties:
        message:
          type: string
          example: The given data was invalid.
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string

    Member:
      type: object
      properties:
        id: { type: integer, example: 1 }
        name: { type: string, example: Super Administrator }
        email: { type: string, format: email, example: superadmin@filament.com }
        whatsapp: { type: string, nullable: true, example: "081234567890" }
        address: { type: string, nullable: true, example: "Jl. Letda Sujono 142" }
        created_at: { type: string, nullable: true, example: "2026-04-15T17:00:00.000000Z" }
        updated_at: { type: string, nullable: true, example: "2026-04-15T17:00:00.000000Z" }

    Partner:
      type: object
      properties:
        id: { type: integer, example: 3 }
        name: { type: string, example: Partner Medan }
        email: { type: string, format: email, example: partner@mail.com }
        alamat: { type: string, nullable: true, example: Medan }
        photo: { type: string, nullable: true, example: "http://127.0.0.1:8000/storage/partners/image.png" }

    MemberAuthResponse:
      type: object
      properties:
        message: { type: string, example: Berhasil memuat data }
        success: { type: boolean, example: true }
        code: { type: integer, example: 200 }
        data:
          type: object
          properties:
            access_token: { type: string, example: "1|abcdef123456..." }
            member: { $ref: "#/components/schemas/Member" }

    PartnerAuthResponse:
      type: object
      properties:
        message: { type: string, example: Berhasil memuat data }
        success: { type: boolean, example: true }
        code: { type: integer, example: 200 }
        data:
          type: object
          properties:
            access_token: { type: string, example: "2|abcdef123456..." }
            partner: { $ref: "#/components/schemas/Partner" }

    MemberProfileResponse:
      type: object
      properties:
        message: { type: string, example: Berhasil memuat data }
        success: { type: boolean, example: true }
        code: { type: integer, example: 200 }
        data:
          type: object
          properties:
            profile:
              $ref: "#/components/schemas/Member"
